<!DOCTYPE html>
<html>
  <head>
    <title>Track your Vendors and Orders</title>
  </head>
  <body>
    <h1>Find your vendor and product today!</h1>
    <a href="/vendors">View vendors</a>
    <a href="/orders">Create an order</a>
  </body>
</html>