<!DOCTYPE html>
<html>
  <head>
    <title>Track your Vendors and Orders</title>
  </head>
  <body>
    <h1>Find your vendor and product today!</h1>
    <a href="/vendors"><button class="buttons">View Vendors.</button></a>
    <a href="/orders"><button>Go To Orders Page</button></a>
  </body>
</html>