<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendors List</title>
</head>
<body>
  @using VOTracker.Models;

  <h4>Hi</h4>

  <a href="/vendors/new"><button class="newV">Add new vendor</button></a>
  <a href="/"><button class="home">Home</button></a>
  
</body>
</html>