<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendors List</title>
</head>
<body>
  @using VOTracker.Models;

  <h2>Hello, welcome to the Vendors main page.</h2>

  <h4>List of Vendors:</h4>
  
@if (Model.Count == 0)
{
  <h4>No Vendors registered at the moment. Try again later.</h4>
}


      @foreach(Vendor business in Model)
    {
      <li><a href="/vendors/show/@business.Id">@business.Name</a></li>
    }
  

  <div class="spacer" style="height: 20px"></div>
  <a href="/vendors/new"><button class="newV">Add new vendor</button></a>
  <a href="/"><button class="home">Home</button></a>
  
</body>
</html>