<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendor Market:</title>
</head>
<body>
  @using VOTracker.Models;

  <h4>List of Vendors:</h4>

      @foreach(Vendor business in Model)
    {
      <li><a href="/vendors/show/@business.Id">@business.Name</a></li>
    }
  


</body>
</html>