<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ordering Page</title>
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
@using VOTracker.Models;

@{

  <h4>Welcome to the Ordering portal.</h4>

  @if (Vendor.ListTotalVendors.Count == 0)
  {

    <h4>I'm sorry: there are no vendors to supply orders. Please go to the Vendors Page and provide a Vendor before making an order.</h4>

    <a href="/vendors/new"><button class="newV">Add new vendor</button></a>
    <a href="/vendors"><button>Go to Vendor Page</button></a>
    <a href="/"><button class="home">Home</button></a>

  }
  else if (Model.Count == 0)
  {

    <h4>Start your order below!</h4>

    <a href="/orders/new"><button class="order">Make an order now.</button></a>
    <a href="/vendors"><button>Go to Vendor Page</button></a>
    <a href="/"><button class="home">Home</button></a>

  }
  else
  {
      @foreach(Order order in Model)
      {
        <div class="orderDiv" id="@order.Id" style="margin: 1px; border-style: 1px solid;">
             <ul><a href="/orders/show/@order.Id">@order.Name</a> - Id: @order.Id
                <!-- Get list of vendors and use SelectVendor to match the order.VendorId to the vendor.Id, and abstract the vendor.Name -->
                @{ Vendor vend = Vendor.SelectVendor(order.VendorId);
                  <li style="list-style: none;">Vendor: @vend.Name</li>
                }
              </ul>
        </div>
      }

    <div class="spacer" style="height: 20px"></div>

    <a href="/orders/new"><button class="order">Make an order now.</button></a>
    <a href="/vendors"><button>Go to Vendor Page</button></a>
    <a href="/"><button class="home">Home</button></a>
  }
}
</body>
</html>