<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders Homepage</title>
</head>

@using VOTracker.Models;

  <body>
    <form class="orderForm" action="/orders/new" method="post" style="
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 15rem;
      gap: 1rem;
    ">
      <input name="orderName" type="text" class="form-control" placeholder="Enter name.">
      <input name="orderDescription" type="text" class="form-control" placeholder="Enter description.">
      <input name="price" type="number" class="form-control" placeholder="Enter price.">
      <input name="date" type="number" class="form-control" placeholder="Enter date.">
      <select name="vendorNum" name="vendors">
      <!-- THIS IS AWESOME. Gets list in html and returns all items in List e.g. Vendors and puts them into a dropdown option. -->

      @{ List<Vendor> vendors = Vendor.GetAll();
          @foreach (Vendor vendor in vendors)
          {
            <option name="VendorId" value=@vendor.Id>@vendor.Name</option>
          }
        }

      </select>
      <button type="submit" id="newOrderSubmit">Submit</button>
    </form>

  </body>
</html>